@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

:root {
    --radius: 0.6rem;
}

@theme inline {
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
}

/* Hide scrollbar for all browsers */
::-webkit-scrollbar {
    display: none;
  }

  /* For Firefox */
  html {
    scrollbar-width: none;
  }

  /* for    selection */
  *::selection {
    background-color: #5966ff;
    color: white;
  }